@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin-top: 55px;
  }

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }

  .nav-menu.active {
    border-bottom: 2px solid #3182ce;
}

.nav-menu:hover {
  border-bottom: 2px solid #4a5568;
}

#popupModal {
  z-index: 1000; 
}

.header {
  margin-top: -70px;
  color: black;
  font-size: 50px;
  font-weight: bold;
}


.btn {
  background-color: #4a5568;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none; /* Prevent text selection on the button text */
}

.btn:hover {
  background-color: #2d3748;
}

#submitPopupButton {
  margin-left: 590px;
}
#loginPopupButton {
  margin-left: 10px;
}

#loginPopupModal {
  align-items: center;
  justify-content: center;
  display: hidden;
}

#loginPopupModal .bg-white {
  padding: 20px; /* Adjust this value as needed */
}

.waviy {
  position: relative;
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  height: 8vh; 
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #020202;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

#changePopupButtonToRegister {
  cursor: pointer;
}

#changePopupButtonToLogin {
  cursor: pointer;
}




