@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin-top: 55px;
  }

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
  }

  .nav-menu.active {
    border-bottom: 2px solid #3182ce;
}

.nav-menu:hover {
  border-bottom: 2px solid #4a5568;
}

.no-select {
  user-select: none;
}

#popupModal {
  z-index: 1000; /* Adjust the value as needed */
}

.header {
  margin-top: -70px;
  color: black;
  font-size: 50px;
  font-weight: bold;
}



